*.DS_Store
certificates/
chaincode/src/influxdb/vendor/*
Org1MSPanchors.tx
Org2MSPanchors.tx
influxdb_chaincode.tar.gz
log.txt
mychannel.tx
system-genesis-block/genesis.block
channel-artifacts/mychannel.block
api/node_modules/*
api/package-lock.json
contract_influx_chaincode.tar.gz
