*.DS_Store
certificates/
chaincode/src/influxdb/vendor/*
chaincode/src/rawOne/vendor/*
chaincode/src/rawTwo/vendor/*
Org1MSPanchors.tx
Org2MSPanchors.tx
influxdb_chaincode.tar.gz
contract_rawOne.tar.gz
contract_rawTwo.tar.gz
log.txt
mychannel.tx
system-genesis-block/genesis.block
channel-artifacts/mychannel.block
api/node_modules/*
api/package-lock.json
api/wallet/*
contract_influx_chaincode.tar.gz
contract_rawTwo.tar
contract_rawOne.tar
